
.page{
   height: 100vh;
}

.section-login{
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   align-items: center;
   height: max-content;
   height: 90vh;
}


.color-black{
  color: var(--black);
}
form{
   width: 320px;
   height: 300px;
   margin-top: 10%;
}
.btn-align{
   display: flex;
   justify-content: center;
   margin-top: 30px ;
}
.input-type{
   margin-top: 20px;
}
.is-text{
   color: var(--chili-red);
   padding-top: 10px;
}
.is-text:hover{
   background-color: transparent;
   color: var(--black);
}
.input{
    background-color: var(--white);
}
::-webkit-input-placeholder {
    color: var(--black);
 }
 
 :-moz-placeholder {
    color: var(--black);
 }
 
 ::-moz-placeholder {
    color: var(--black);  
 }
 
 :-ms-input-placeholder {  
    color: var(--black);  
 }

.center-btn{
  margin: 0px 50%;
}

.control-btn{
   display: flex;
   flex-direction: column;
  
}
