<div class="page">
  <app-nav-bar></app-nav-bar>
  <div class="section-login">
     <form action="">
      <div class="field input-type">
          <p class="control has-icons-left has-icons-right">
            <input class="input" type="email" placeholder="Email">
            <span class="icon is-small is-left">
              <i class="fas fa-envelope color-black"></i>
            </span>
          </p>
        </div>
        <div class="field input-type">
          <p class="control has-icons-left">
            <input class="input" type="password" placeholder="Password"  >
            <span  class="icon is-small is-left">
              <i  class="fas fa-lock color-black"></i>
            </span>
          </p>
        </div>
        <div class="field btn-align">
          <p class="control control-btn">
            <button style="background-color: #3D3D3D; color: #fff; width: 150px;" class="button is-success">
              Login
            </button>
            <button class="button is-text" (click)="goRegisterPage()">Create a account</button>
          </p>
        </div>
     </form> 
     
     <app-footer></app-footer>
  </div>
  
</div>