<div class="page">
    <app-nav-bar></app-nav-bar>
    <div class="register-section">
        <form action="">
            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Nome completo">
                </div>
              </div>
              
              <div class="field">
                <label class="label">Email</label>
                <div class="control">
                  <input class="input" type="email" placeholder="email@dominio.com">
                </div>
              </div>

              <div class="field">
                <label class="label">Crie sua senha</label>
                <div class="control">
                  <input class="input" type="password" placeholder="">
                </div>
              </div>
              <div class="field">
                <label class="label">Confirme sua senha</label>
                <div class="control">
                  <input class="input" type="password" placeholder="">
                </div>
              </div>

              <div class="field btn-align">
                <button style="background-color: #3D3D3D; color: #fff; width: 150px;" class="button is-success">
                    Cadastra-se
                </button>        
              </div>
        </form>
        <app-footer></app-footer>
    </div>
    
</div>
