/* You can add global styles to this file, and also import other style files */
@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

:root  {
  /* CSS Variables */
  --bulma-body-background-color: var(--white) 

  /* CSS HEX */
    --white: #FFFFFF;
    --yinmn-blue: #4D5C7D;
    --yinmn-white: #D1D4DD;
    --yinmn: #e9ebf3;
    --bittersweet: #E56353;
    --chili-red: #CE412D;
    --black: #3D3D3D;

    /* CSS Variables */
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: var(--black);
}



body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #fff;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--chili-red);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #fff;  /* creates padding around scroll thumb */
}
