.color-font{
    color: var(--black);
    width: 100%;
}
.footer{
    background-color: var(--white);
    padding: 0;
    width: 100%;
    margin-top: 70px;
    margin-bottom: 10px;
}
p{
    font-size: 0.9em;
} 