
<app-nav-bar></app-nav-bar>
<div class="page">
    <div class="sub-calendar">
        <h3 class="title is-4">Mes do Ano </h3>
        <table>
            <thead>
                <tr>
                    <th>Dom</th>
                    <th>Seg</th>
                    <th>Ter</th>
                    <th>Qua</th>
                    <th>Qui</th>
                    <th>Sex</th>
                    <th>Sab</th>
                </tr>
            </thead>
            
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        1
                       <div class="task-content"> 
                            <a [routerLink]="['/home/tasks']" routerLinkActive="router-link-active" >
                                <span class="task">
                                    <i class="fa-regular fa-circle"></i>
                                    Lavar louça
                                </span>
                            </a>
                            <span class="sub-tasks">mais <p>2</p> itens...</span>
                       </div>
                    </td>
                    <td>2</td>
                </tr>
                <tr></tr>
                <tr>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                    <td>13</td>
                    <td>14</td>
                    <td>15</td>
                    <td>16</td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>18</td>
                    <td>19</td>
                    <td>20</td>
                    <td>21 </td>
                    <td>22</td>
                    <td>23</td>
                </tr>
                <tr>
                    <td>24</td>
                    <td>25</td>
                    <td>26</td>
                    <td>27</td>
                    <td>28 </td>
                    <td>29</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>31</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4 </td>
                    <td>5</td>
                    <td>6</td>
                </tr>
            </tbody>
        </table>
    </div>  
    <div class="new-task">
        <button (click)="createANewTask()">
            <i class="fa-solid fa-plus"></i>
        </button>
    </div>
    <div class="new-task-template" *ngIf="isVisible">
        <app-new-task (closeTask) = "closeANewTask()"></app-new-task>
    </div>

</div>



